body{
	background-image: url(/assets/background.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	overflow: hidden;

}

.admin-page{
	width: 70vw;
	margin: auto;
}

.form{
	position: relative;
    z-index: 1;
	background:rgba(0,204,204,0.6);
	max-width:70vw;
	margin: auto;
	padding: 3vw;
	text-align: center;
}

.form input{

	background:#f2f2f2;
	width: 50%;
	border: 0;
	padding: 1vw;
	box-sizing: border-box;
	font-size: 1.5vw;
 
}

#question{

	background:#f2f2f2;
	width: 50%;
	height: 18vh;
	border: 0;
	padding: 1vw;
	box-sizing: border-box;
	font-size: 1vw;
	resize: none;
}

#answer{

	background:#f2f2f2;
	width: 50%;
	height: 09vh;
	border: 0;
	padding: 1vw;
	box-sizing: border-box;
	font-size: 1vw;
	resize: none;
}


.form button{
	text-transform: uppercase;
	outline: 0;
	background:#4caf50;
	width: 40%;
	border: 0;
	padding: 2vh;
	color: #ffffff;
	font-size: 1vw;

}

.form button:hover,.form button:active{
	background:#43a047;

}

label{
	position: relative;
	width:30%;
	text-align:left;
	font-size: 1.3vw;
	margin-right: 3vw;
}


.text{
	display: flex; 
	align-items: center;
    justify-content: center;
    margin: 0 0 4vh;

}

.message{
	width: 80vw;
	margin:2vh auto;
	text-align: center;
	font-size: 1.5vw;
}
